body {
	background-image: url("../images/background.jpg");
	margin: 0px;
	padding: 0px;
}

.jumbotron {
	background-color: rgb(197, 65, 197);
	color: white;
}

.panel {
    background-color: rgba(105, 23, 105, 0.418);
    color: aquamarine;
    font-size: 20px;
}

.panel-default {
    background-color: rgba(105, 23, 105, 0.418);
    color: aquamarine;
    font-size: 20px;
}

.target-number {
    font-size: 30px;
    text-align: center;
	background-color: gold;
	border-style: solid;
	border-color: rgba(233, 6, 195, 0.767);
	border-width: 4px;
}

.win-lose-counter {
	background-color: rgba(3, 247, 145, 0.733);
	border-style: solid;
	border-color: #ddd;
	border-width: 4px;
}

.crystal-images {
	margin-top: 10px;
	margin-bottom: 10px;
}

.total-score {
	color: white;
	background-color: #4aaaa5;
}

.score-number {
    color: white;
    text-align: center;
	background-color: #4aaaa5;
	font-size: 40px;
}